@import url(http://fonts.googleapis.com/css?family=Coustard|Open+Sans);



body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight:400;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	color: #777;
	background: #000;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Coustard', serif;
	color:#fff;
	font-weight: normal;
	letter-spacing: 1px;
}
h1{font-size: 63px; line-height: 70px; padding: 0; margin: 0;}
h5{font-size: 28px; line-height: 35px; padding: 0; margin: 0; color: #b7b7b7;}

a {
	color: #b7b7b7;
	text-decoration:none;
	font-weight: normal;
}

body {
	max-width:1140px;
	background-image:url(../img/bg/Ted-no-Banho.jpg);
	background-size: contain;
}